@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico&display=swap');


/* styles for cakes and pasteries page */

.header{
    position: relative;
    
}

.carousel2{
    height: 100vh;
    width: 100%;
 }

.logo-img{
    width: 8%;
    position: absolute;
    top: 2rem;
    left: 3rem;
    /* transform: translate(-50%,-50%); */
    z-index: 100;
}

.heading2-title{
    position: absolute;
    top: 3rem;
    left: 13rem;
    /* transform: translate(-50%,-50%); */
    z-index: 100;
    font-size: 3rem;
    color: yellow;
    letter-spacing: 2rem;
    border-bottom: 1px solid black;
    animation: moveInRight 1s ease-out;
}

.menu-icon{
    position: absolute;
    z-index: 100;
    top: 4rem;
    left: 90%;
    color: white;
    cursor: pointer;

}

@keyframes moveInRight{
0%{
    opacity: 0;
    transform: translateX(10rem);
}

80%{
    transform: translateX(-2rem);
}

100%{
    opacity: 0;
    transform: translate(0);
}

}

.meet-nikki{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    padding-top: 8rem;
    color:whitesmoke;
    font-weight: bolder;
    animation: animateAll 2s ease-in-out;
}

#simple{
    color:yellowgreen;
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}

 .cake-info-section{
    margin: 2% 15% 2% 15%;
 }

 
#cake-info{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: #E84855;
    font-style: italic;
}

.honeys{
    width: 20rem;
    height: 15rem;
}

.about-founder{
    opacity: 1;
    background-color: burlywood;
}

.founder-img{
    width: 80%;
    height: 80%;
}

.founder-content{
    letter-spacing: 4px;
}
.card-header{
    color: midnightblue;
    font-size: 2rem;
}
 
/*styles for the footer*/
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 3rem;
    padding: 1rem;
    background: linear-gradient(rgba(141, 27, 175, 0.9), rgba(130, 79,145,0.6));
}

.flex-container:hover{
    background: linear-gradient(rgba(17, 55, 126, 0.9), rgba(20, 108, 180, 0.6));
    padding: 3rem;
    transition: 2s all;
}

/* styles for the header */
#header{
    background-color: transparent;
    background-attachment: fixed;
}