@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico&display=swap');



.company-title{
    font-family: 'Safari';
    font-size: 1.8rem;
    color:white;
}
.services{
    height: 2rem;
    background-color: pink;

}

.responsive-line{
    height: 2px;
    background-color: seagreen;
}

.garlic-image{
   height: 12rem;
   width: 15rem;
}

/* styles for cakes and pasteries page */

.landing-image{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
     url("https://cdn.pixabay.com/photo/2018/01/04/11/40/food-3060458__340.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:70vh;
}


@keyframes animateAll{
0%{
    transform: translateX(10px);
    color: red;
    font-size: 1.8rem;
}
50%{
    transform: translateX(-100px);
    color: green;
    font-size: 2.8rem;
}
100%{
    transform: translate(0);
    color: whitesmoke;
    font-size: 3.5rem;
}
}

.meet-nikki{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    padding-top: 8rem;
    color:whitesmoke;
    font-weight: bolder;
    animation: animateAll 2s ease-in-out;
}

#simple{
    color:yellowgreen;
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}

.carousel2{
    width : 58rem;
    height : 25rem;
    border-radius: 1rem;
 }

 .cake-info-section{
    margin: 2% 15% 2% 15%;
 }

 
#cake-info{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: #E84855;
    font-style: italic;
}

.honeys{
    width: 20rem;
    height: 15rem;
}

.about-founder{
    opacity: 1;
    background-color: burlywood;
}

.card-header{
    color: midnightblue;
    font-size: 2rem;
}
 
/*styles for the footer*/
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 3rem;
    padding: 1rem;
    background: linear-gradient(rgba(141, 27, 175, 0.9), rgba(130, 79,145,0.6));
}

.flex-container:hover{
    background: linear-gradient(rgba(17, 55, 126, 0.9), rgba(20, 108, 180, 0.6));
    padding: 3rem;
    transition: 2s all;
}

/* styles for the header */
#header{
    background-color: transparent;
    background-attachment: fixed;
}